<%- include('_header'); -%>
    <h4 class="fw-bold">SAMMLUNG</h4>
    <h1><%= title %></h1>
    <div class="row mt-3">
        <% if (locals.meta) { %>
            <% meta.forEach(function(info) { %>
                <p class="col text-secondary text-nowrap"><%= info %></p>
            <% }); %>
        <% } %>
    </div>
    <% if (locals.elements) { %>
        <div class="row row-no-gutters">
            <% elements.forEach(function(element) { %>
                <% if ('url' in element) { %>
                    <%- include('_element', {path: element.url, type: 'Link', image: 'redirect', title: element.title}) -%>
                <% } else { %>
                    <%- include('_element', {path: `/data/${element.path}`, type: element.type, image: 'download', download: true, title: element.title}) -%>
                <% } %>
            <% }); %>
        </div>
    <% } else { %>
        <p class="mt-5 text-secondary">Diese Sammlung ist leer.</p>
    <% } %>
<%- include('_footer'); -%>