<%- include('_header'); -%>
    <h4 class="fw-bold">Collection</h4>
    <h1><%= title %></h1>
    <div class="row mt-3">
        <% meta.forEach(function(info) { %>
            <p class="col text-secondary text-nowrap"><%= info %></p>
        <% }); %>
    </div>
    <div class="row row-no-gutters">
        <% elements.forEach(function(element) { %>
            <div class="col col-lg-4">
                <% if (element.type == "url") { %>
                    <a class="btn btn-primary w-100 my-2" href="<%= element.url %>" role="button">
                        <div class="row align-items-center flex-nowrap">
                            <div class="col-3">
                                <img class="img-fluid p-3" src="/static/downloads.svg">
                            </div>
                            <div class="col-9 text-start text-nowrap">
                                <h4 class="fw-bold"><%= element.name %></h4>
                            </div>
                        </div>
                    </a>
                <% } else { %>
                    <a class="btn btn-primary w-100 my-2" href="/data/<%= element.path %>" download>
                        <div class="row align-items-center flex-nowrap">
                            <div class="col-3">
                                <img class="img-fluid p-3" src="/static/downloads.svg">
                            </div>
                            <div class="col-9 text-start text-nowrap">
                                <h4 class="fw-bold"><%= element.name %></h4>
                                <h5>(<%= element.file_type %>)</h5>
                            </div>
                        </div>
                    </a>
                <% } %>
            </div>
        <% }); %>
    </div>
<%- include('_footer'); -%>