<%- include('_header'); -%>
    <h4 class="fw-bold">
        <% if (urls.length > 1) { %>
            Link Liste
        <% } else { %>
            Link-Veiterleitung
        <% } %>
    </h4>
    <h1><%= title %></h1>
    <div class="row mt-3">
        <% meta.forEach(function(info) { %>
            <p class="col text-secondary text-nowrap"><%= info %></p>
        <% }); %>
    </div>
    <div class="row row-no-gutters">
        <% urls.forEach(function(url) { %>
            <div class="col col-lg-4">
                <a class="btn btn-primary w-100 my-2" href="<%= url.url %>" role="button">
                    <div class="row align-items-center flex-nowrap">
                        <div class="col-3">
                            <img class="img-fluid p-3" src="/static/downloads.svg">
                        </div>
                        <div class="col-9 text-start text-nowrap">
                            <h4 class="fw-bold"><%= url.name %></h4>
                        </div>
                    </div>
                </a>
            </div>
        <% }); %>
    </div>
<%- include('_footer'); -%>